<div class="flex bg-[#f3f3f3]">
  <div class="old flex gap-5 flex-wrap max-w-150">
    <div class="px-10 py-3">
      <p class="text mb-3">紙のスタンプカード</p>
      <img src="src/assets/img/benefit-old-1.png" alt="" />
    </div>
    <div class="px-10 py-3">
      <p class="text mb-3">紙のクーポン券</p>
      <!-- <img src="src/assets/img/benefit-old-1.png" alt="" /> -->
    </div>
    <div class="px-10 py-3">
      <p class="text mb-3">会員ポイントカード</p>
      <img src="src/assets/img/benefit-old-2.png" alt="" />
    </div>
    <div class="px-10 py-3">
      <p class="text mb-3">ダイレクトメール</p>
      <img src="src/assets/img/benefit-old-3.png" alt="" />
    </div>
  </div>
  <div class="new"></div>
</div>
