<div class="flex bg-[#f3f3f3] justify-center items-center gap-12">
  <div class="old flex gap-5 flex-wrap max-w-150">
    <div class="p-8 bg-white w-68 h-52">
      <p class="text mb-6 text-xl font-bold text-center">紙のスタンプカード</p>
      <img class="mx-auto" src="src/assets/img/benefit-old-1.png" alt="" />
    </div>
    <div class="p-8 bg-white w-68 h-52">
      <p class="text mb-6 text-xl font-bold text-center">紙のクーポン券</p>
      <!-- <img class="mx-auto" src="src/assets/img/benefit-old-1.png" alt="" /> -->
    </div>
    <div class="p-8 bg-white w-68 h-52">
      <p class="text mb-6 text-xl font-bold text-center">会員ポイントカード</p>
      <img class="mx-auto" src="src/assets/img/benefit-old-2.png" alt="" />
    </div>
    <div class="p-8 bg-white w-68 h-52">
      <p class="text mb-6 text-xl font-bold text-center">ダイレクトメール</p>
      <img class="mx-auto" src="src/assets/img/benefit-old-3.png" alt="" />
    </div>
  </div>
  <div class="relative">
    <img src="src/assets/img/right-arrow.svg" alt="" />
    <div class="absolute top-11 left-2 text-xl text-center">
      アプリ化<br />すると
    </div>
  </div>
  <div class="new relative">
    <div class="slide-desc absolute -top-26 left-10 text-center active">
      アンケートを<br />実施可能
    </div>
    <div class="slide-desc absolute -top-26 left-10 text-center">
      クーポンの<br />配布が可能に！
    </div>
    <div class="slide-desc absolute -top-26 left-10 text-center">
      スタンプカード<br />機能搭載
    </div>
    <div class="slide-benefit bg-white">
      <img
        class="slide-item active"
        src="src/assets/img/benefit-feature-1.png"
        alt=""
      />
      <img
        class="slide-item"
        src="src/assets/img/benefit-feature-2.png"
        alt=""
      />
      <img
        class="slide-item"
        src="src/assets/img/benefit-feature-3.png"
        alt=""
      />
    </div>
  </div>
</div>
<div class="bg-[#f3f3f3] text-center">
  <p class="text-4xl font-bold">ギガリピはお店アプリを</p>
  <p class="text-4xl font-bold">
    LINE公式アカウント<span class="text-3xl">(旧LINE@)</span>上に実現
  </p>
  <div class="inline-block bg-[#FABE00] mt-7 mb-4 p-4">
    <div class="flex">
      <img
        class="inline-block w-[64px]"
        src="src/assets/img/benefit-icon-1.png"
        alt=""
      />
      <span class="text-5xl font-bold my-auto">リピート戦略</span>
    </div>
  </div>
  <span class="text-6xl">×</span>
  <div class="inline-block bg-[#FABE00] mt-7 mb-4 p-4">
    <div class="flex">
      <img
        class="inline-block w-[64px]"
        src="src/assets/img/benefit-icon-2.png"
        alt=""
      />
      <span class="text-5xl font-bold my-auto">分析</span>
    </div>
  </div>
  <span class="text-5xl font-bold">で</span>
  <p class="text-4xl font-bold pb-44">
    小売店の売上アップの仕組みを構築します！
  </p>
</div>
