<div class="bg-[#1d1d1d] text-white pt-22 pb-29 rounded-[20px] w-[88%] mx-auto">
  <p class="font-[Outfit] text-[6.5rem] font-extralight text-center">CONTACT</p>
  <p class="text-2xl font-bold text-center tracking-widest">お問い合わせ</p>
  <p class="tracking-widest text-center leading-13.5">
    サービスの詳細をお聞きしたい方はこちらのフォームよりご相談ください。
  </p>
  <div class="w-[812px] mx-auto pt-6 pb-3">
    <div class="flex items-center justify-between gap-16 pb-3">
      <label for="company" class="left-0"
        ><span class="px-2 py-1 bg-[#FFD758] text-[#222] rounded-sm mr-3"
          >必須</span
        >会社名または店舗名</label
      ><input
        class="bg-white w-130 h-12.5 rounded-sm p text-black px-4"
        id="company"
        type="text"
        autocomplete="on"
      />
    </div>

    <div class="flex items-center justify-between gap-16 pb-3">
      <label for="name" class="left-0"
        ><span class="px-2 py-1 bg-[#FFD758] text-[#222] rounded-sm mr-3"
          >必須</span
        >お名前</label
      ><input
        class="bg-white w-130 h-12.5 rounded-sm p text-black px-4"
        id="name"
        type="text"
        autocomplete="on"
      />
    </div>

    <div class="flex items-center justify-between gap-16 pb-3">
      <label for="phone" class="left-0"
        ><span class="px-2 py-1 bg-[#FFD758] text-[#222] rounded-sm mr-3"
          >必須</span
        >電話番号</label
      ><input
        class="bg-white w-130 h-12.5 rounded-sm p text-black px-4"
        id="phone"
        type="tel"
        autocomplete="on"
      />
    </div>

    <div class="flex items-center justify-between gap-16 pb-3">
      <label for="email" class="left-0"
        ><span class="px-2 py-1 bg-[#FFD758] text-[#222] rounded-sm mr-3"
          >必須</span
        >メールアドレス</label
      ><input
        class="bg-white w-130 h-12.5 rounded-sm p text-black px-4"
        id="email"
        type="email"
        autocomplete="on"
      />
    </div>

    <div class="flex justify-between gap-16 pb-3">
      <label for="email" class="left-0">お問い合わせ内容</label
      ><input
        class="bg-white w-130 h-45 rounded-sm"
        p
        text-black
        px-4
        id="email"
        type="email"
        autocomplete="on"
      />
    </div>
  </div>

  <div class="flex justify-center">
    <input type="checkbox" id="confirm" />
    <label class="text-center text-xs ml-3 leading-13.5" for="confirm"
      >プライバシーポリシーをご確認、ご同意の上、「送信」ボタンを押してください。</label
    >
  </div>
  <div
    class="leading-13.5 bg-[#535353] w-[50rem] mt-4 rounded-sm cursor-pointer mx-auto text-center"
  >
    <button type="submit">送信</button>
  </div>
</div>
