<div>
  <div
    class="relative flex items-center justify-center flex-col text-center mb-12"
  >
    <p
      class="absolute font-[Outfit] font-bold text-[187px] -top-20 text-center text-[#f3f3f3] -z-1"
    >
      Features
    </p>
    <p class="text-2xl">店舗での運用に特化した</p>
    <p class="text-5xl font-bold">ギガリピの特徴</p>
  </div>
  <div class="flex bg-[#f3f3f3] items-center justify-center gap-20">
    <div class="text-right py-20">
      <p class="text-3xl/10 font-bold mb-4">
        店舗規模に合わせて<br />柔軟に対応した機能とプラン
      </p>
      <p class="leading-8">
        小さいお店には最低限の機能で安く、<br />s大きいお店にはオプション機能も多数ご用意。
      </p>
    </div>
    <img src="src/assets/img/feature-1.png" alt="" />
  </div>
  <div class="flex items-center justify-center gap-20">
    <img class="h-full" src="src/assets/img/feature-2.png" alt="" />
    <div class="py-20">
      <p class="text-3xl/10 font-bold mb-4">
        立ち上げから運用まで<br />専任コンサルタントが対応
      </p>
      <p class="leading-8">
        最初の立ち上げをコンサルタントが徹底サポート。<br />運用設計からスタッフ教育まで。
      </p>
    </div>
  </div>
  <div class="flex bg-[#f3f3f3] items-center justify-center gap-20">
    <div class="text-right py-20">
      <p class="text-3xl/10 font-bold mb-4">
        カスタマイズにより<br />貴店に合わせたアプリに
      </p>
      <p class="leading-8">
        まだない機能もオーダーできる。<br />フルスクラッチ並みのカスタマイズ性。
      </p>
    </div>
    <img src="src/assets/img/feature-3.png" alt="" />
  </div>
  <div class="flex items-center justify-center gap-20">
    <img class="h-full" src="src/assets/img/feature-4.png" alt="" />
    <div class="py-20">
      <p class="text-3xl/10 font-bold mb-4">
        各種連携機能により<br />さらに使いやすく
      </p>
      <p class="leading-8">
        POSレジ連携、ECサイト連携で、<br />O2Oやオムニチャネルを実現可能。
      </p>
    </div>
  </div>
</div>
