<div class="flex items-center justify-around pt-18 pb-30">
  <div class="flex">
    <img src="src/assets/img/logo_company.svg" alt="" />
    <div class="ml-12 text-[15px]">
      <div class="flex">
        <p class="font-light mr-3">運営企業</p>
        <p class="text-base font-bold">株式会社ビー・アジャイル</p>
      </div>
      <p class="font-light">〒181-0013 東京都三鷹市下連雀1-8-23-208</p>
      <p class="font-light">TEL. 0422-24-6407</p>
    </div>
  </div>
  <div class="flex gap-4">
    <div class="cursor-pointer font-light text-[15px]">運営会社</div>
    <span>|</span>
    <div class="cursor-pointer font-light text-[15px]">利用規約</div>
    <span>|</span>
    <div class="cursor-pointer font-light text-[15px]">
      プライバシーポリシー
    </div>
    <span>|</span>
    <div class="cursor-pointer font-light text-[15px]">
      特定商取引法に基づく表示
    </div>
  </div>
</div>
