<div
  class="flex items-center justify-between pl-[24px] pr-[37px] pt-[26.82px] font-[NotoSansJP] bg-white"
>
  <div class="logo">
    <img src="src/assets/img/logo-main.svg" alt="logo-main" />
  </div>
  <ul class="flex gap-x-7">
    <li class="cursor-pointer">ギガリピとは</li>
    <li class="cursor-pointer">特徴</li>
    <li class="cursor-pointer">機能</li>
    <li class="cursor-pointer">料金</li>
    <li class="cursor-pointer">ご利用の流れ</li>
    <li class="cursor-pointer">よくあるご質問</li>
    <li class="cursor-pointer">お問い合わせ</li>
  </ul>
</div>
