<div
  class="flex items-center justify-between pl-[24px] pr-[37px] pt-[26.82px] bg-white"
>
  <div class="cursor-pointer">
    <a href="#"><img src="src/assets/img/logo-main.svg" alt="logo-main" /></a>
  </div>
  <ul class="flex gap-x-7">
    <li class="cursor-pointer"><a href="#">ギガリピとは</a></li>
    <li class="cursor-pointer"><a href="#benefit">特徴</a></li>
    <li class="cursor-pointer"><a href="#value-1">機能</a></li>
    <li class="cursor-pointer"><a href="#plans">料金</a></li>
    <li class="cursor-pointer"><a href="#tutorial">ご利用の流れ</a></li>
    <li class="cursor-pointer">
      <a href="#frequently-question">よくあるご質問</a>
    </li>
    <li class="cursor-pointer"><a href="#contact">お問い合わせ</a></li>
  </ul>
</div>
