<div class="mt-12">
  <div class="slide-container relative -z-1 font-[Outfit] truncate mt-[470px]">
    <div class="slide-text text-[10rem] text-[#F3F3F3] font-bold">
      GIGA REPE GIGA
    </div>
  </div>

  <div class="absolute flex ml-[20%] top-[170px]">
    <div class="mr-[60px] logo-icon">
      <img src="src/assets/img/logo-icon.svg" alt="logo-icon" />
    </div>
    <div class="relative">
      <img class="" src="src/assets/img/hero-phone.png" alt="phone" />
      <div class="circle-text"><p class="p-[24px]">小売店専用</p></div>
    </div>
    <div class="absolute ml-[524px] mt-[700px]">
      <img src="src/assets/img/string-bulb.svg" alt="string-bulb" />
    </div>
    <div class="absolute flex flex-col -mr-16 bg-gray-600">
      <div class="float-right text-[71px]">
        <p>リピーターが</p>
        <p>ガンガン増える</p>
      </div>
      <div class="float-left text-[35px] text-[#FABE00]">
        <p>LINE</p>
        <p>マーケティング システム</p>
      </div>
    </div>
  </div>
</div>
<div class="mt-[-61px] w-full bg-[#F3F3F3] h-[1550px]">
  <div class="intro-title text-center pt-[445px]">
    <p class="text-[25px] font-black">店舗のリピーター施策は</p>
    <p class="text-[43px] font-black">お店アプリが当たり前の時代に</p>
  </div>
  <div class="flex items-center mx-auto">
    <div class="flex flex-1 flex-wrap">
      <div class="p-[40px] bg-white w-[272px]">
        <p class="font-bold text-[20px] my-3 text-center">紙のスタンプカード</p>
        <img class="mx-auto" src="src/assets/img/hero-old-1.png" alt="" />
      </div>
      <div class="p-[40px] bg-white w-[272px]">
        <p class="font-bold text-[20px] my-3 text-center">紙のクーポン券</p>
        <!-- <img class="mx-auto" src="src/assets/img/hero-old-1.png" alt="" /> -->
      </div>
      <div class="p-[40px] bg-white w-[272px]">
        <p class="font-bold text-[20px] my-3 text-center">会員ポイントカード</p>
        <img class="mx-auto" src="src/assets/img/hero-old-2.png" alt="" />
      </div>
      <div class="p-[40px] bg-white w-[272px]">
        <p class="font-bold text-[20px] my-3 text-center">ダイレクトメール</p>
        <img class="mx-auto" src="src/assets/img/hero-old-3.png" alt="" />
      </div>
    </div>
    <div class="">
      <img src="src/assets/img/right-arrow.svg" alt="" />
    </div>
    <div class="new flex-1">
      <div class="slide-new">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="mt-[-61px] w-full bg-[#F3F3F3] h-[1550px]"></div>
