<div class="flex items-center justify-center gap-16 mt-32 px-10">
  <div class="logo-icon text-center relative">
    <img
      src="src/assets/img/logo-icon.svg"
      alt="logo-icon"
      class="mx-auto mb-4"
    />
    <p
      class="text-2xl text-[#222] absolute top-3 left-10 -rotate-6 text-[27px]"
    >
      スマート<br />クーポンで実現
    </p>
  </div>

  <div class="relative">
    <img
      src="src/assets/img/hero-phone.png"
      alt="phone"
      class="max-w-[250px]"
    />

    <div class="circle-text absolute -top-16 -left-8">
      <p>小売店<br />専用</p>
    </div>

    <img
      class="absolute left-[38%]"
      src="src/assets/img/string-bulb.svg"
      alt=""
    />
  </div>

  <div class="text-feature absolute font-black text-center">
    <p class="text-2xl">店舗のリピーター施策は</p>
    <p class="text-5xl">お店アプリが当たり前の時代に</p>
  </div>

  <div class="flex flex-col justify-between h-112.5 w-[35%] max-w-170">
    <div class="text-5xl 2xl:text-7xl font-bold ml-auto">
      <p>リピーターが</p>
      <p>ガンガン増える</p>
    </div>
    <div class="text-4xl text-[#FABE00] font-semibold">
      <p>LINE</p>
      <p>マーケティング</p>
      <p>システム</p>
    </div>
  </div>
</div>
<div
  class="absolute w-full -top-34 slide-container -z-1 font-[Outfit] truncate mt-[470px]"
>
  <div class="slide-text text-[15rem] font-bold text-[#f3f3f3]">
    GIGA REPE GIGA
  </div>
</div>

<!-- Lớp Đệm -->
<div class="bg-[#f3f3f3] -mt-9 h-105">
  <div class=""></div>
</div>
