<div class="bg-[#f3f3f3] pt-20 pb-40">
  <div
    class="relative flex items-center justify-center flex-col text-center mb-12"
  >
    <p
      class="absolute font-[Outfit] font-bold text-[187px] -top-18 text-center text-white z-0"
    >
      Plans
    </p>
    <p class="text-5xl font-bold mb-3 z-1">料金体系</p>
    <p class="text-2xl z-1">
      月額費用0円からLINEマーケティングを気軽に始めることができます
    </p>
  </div>
  <div class="w-full max-w-[1300px] mx-auto">
    <img src="src/assets/img/table(plans).png" alt="" />
    <p class="mt-8">
      ※アクティブ会員とは：X日以内に当システムに利用履歴があるユーザー<br />（Xの値は180以上でお店が自由に設定可能）
    </p>
  </div>
</div>
