<div class="flex flex-col items-center justify-center pt-32 pb-56">
  <p class="text-3xl font-bold">ご利用の流れ</p>
  <div
    class="flex items-center justify-center border-x-1 w-full max-w-[1300px] mx-auto mt-8"
  >
    <ul class="flex-1 text-2xl font-bold px-20">
      初回ヒアリング
      <li class="flex gap-3 text-base font-medium leading-[33px] mt-3">
        <img src="src/assets/img/dot.svg" alt="" />初回登録クーポンをどうするか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />会計金額ごとにいくつスタンプがつくか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />初回来店後のアンケートはどうするか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />
        来店しなくなってから何日後に、再訪を促す通知を飛ばすか?
      </li>
    </ul>
    <ul class="flex-1 text-2xl font-bold px-20 border-l-1">
      弊社が担当すること
      <li class="flex gap-3 text-base font-medium leading-[33px] mt-3">
        <img src="src/assets/img/dot.svg" alt="" />システムの初期設定
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />店舗に展示するQR読み取りポスターのデータ準備
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />クーポンに写真を組み込む
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />LINE公式アカウントのメニューボタンのデザイン提供
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />声掛けの運用ルールマニュアル
      </li>
    </ul>
  </div>
  <p id="frequently-question" class="text-3xl font-bold pt-20">
    ギガリピのよくある質問
  </p>
  <div
    class="flex flex-wrap items-center justify-center w-full max-w-[1300px] mx-auto mt-8 gap-x-15 gap-y-4"
  >
    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div
      class="question p-3 bg-[#f3f3f3] lg:w-[42%] cursor-pointer border-2 border-[#ececec]"
    >
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
