<div class="flex justify-around">
  <div class="flex items-center">
    <p class="text-3xl">ギガリピの<br />バリュー</p>
    <p class="text-[150px] text-[#fabe00]">1</p>
    <p class="text-5xl">リピート戦略</p>
  </div>
  <div class="flex items-center gap-3">
    <img
      class="btn-value-left bg-[#f1f1f1] p-4 rounded-full w-[50px] h-[50px] cursor-pointer"
      src="src/assets/img/left-triangle.svg"
      alt=""
    />
    <img
      class="btn-value-right bg-[#f1f1f1] p-4 rounded-full w-[50px] h-[50px] cursor-pointer"
      src="src/assets/img/right-triangle.svg"
      alt=""
    />
  </div>
</div>
<swiper-container class="mySwiper" navigation="true">
  <swiper-slide class="flex justify-center items-center">
    <div class="">
      <img src="src/assets/img/value_1_1.jpg" alt="" />
      <div class="flex text-2xl font-bold gap-1 pt-6">
        LINE友だち登録
        <img src="src/assets/img/right-arrow(yellow).svg" alt="" />
        即クーポン&スタンプ
      </div>
      <p class="mt-2">
        レジにてQRを読み込み、その場で使えるクーポンゲット！<br />面倒な個人情報の入力は不要！
      </p>
    </div>
  </swiper-slide>
  <swiper-slide class="flex justify-center items-center">
    <div class="">
      <img src="src/assets/img/value_1_2.jpg" alt="" />
      <div class="flex text-2xl font-bold gap-1 pt-6">
        アンケートで個人情報獲得
        <img src="src/assets/img/right-arrow(yellow).svg" alt="" />
        アンケートクーポン
      </div>
      <p class="mt-2">
        アンケート依頼を自動で送信。答えるとクーポンゲット！<br />前日の購入情報と個人情報が紐づくので、分析がしっかりできる
      </p>
    </div>
  </swiper-slide>
  <swiper-slide class="flex justify-center items-center">
    <div class="">
      <img src="src/assets/img/value_1_3.jpg" alt="" />
      <div class="flex text-2xl font-bold gap-1 pt-6">
        LINEリマインドメッセージ
      </div>
      <p class="mt-2">
        アンケートのクーポンがあるのに再訪してないユーザーを狙い撃ちでクーポン<br />利用をリマインド
      </p>
    </div>
  </swiper-slide>
</swiper-container>
<div
  class="value-slider flex overflow-x-hidden justify-start gap-4 scroll-smooth px-4 pb-58"
>
  <div class="grow-0 shrink-0">
    <img src="src/assets/img/value-1.1.png" alt="" />
    <div class="flex text-2xl font-bold gap-1 pt-6">
      LINE友だち登録
      <img src="src/assets/img/right-arrow(yellow).svg" alt="" />
      即クーポン&スタンプ
    </div>
    <p class="mt-2">
      レジにてQRを読み込み、その場で使えるクーポンゲット！<br />面倒な個人情報の入力は不要！
    </p>
  </div>
  <div class="grow-0 shrink-0">
    <img src="src/assets/img/value-1.2.png" alt="" />
    <div class="flex text-2xl font-bold gap-1 pt-6">
      アンケートで個人情報獲得
      <img src="src/assets/img/right-arrow(yellow).svg" alt="" />
      アンケートクーポン
    </div>
    <p class="mt-2">
      アンケート依頼を自動で送信。答えるとクーポンゲット！<br />前日の購入情報と個人情報が紐づくので、分析がしっかりできる
    </p>
  </div>
  <div class="grow-0 shrink-0">
    <img src="src/assets/img/value-1.3.png" alt="" />
    <div class="flex text-2xl font-bold gap-1 pt-6">
      LINEリマインドメッセージ
    </div>
    <p class="mt-2">
      アンケートのクーポンがあるのに再訪してないユーザーを狙い撃ちでクーポン<br />利用をリマインド
    </p>
  </div>
</div>
<div class="mx-auto pb-60">
  <div class="flex items-center justify-center">
    <div class="border-l-2 text-lg text-center mb-5 relative">
      <img class="px-34" src="src/assets/img/value-1.4.svg" alt="" />
      <p class="mt-5">スタンプの有効期限が<br />あと1週間です！</p>
      <p class="text-left text-3xl font-bold">
        あらゆるリマインドで<br />再訪を促します
      </p>
    </div>
    <div class="border-l-2 text-lg text-center mb-5">
      <img class="px-34" src="src/assets/img/value-1.5.svg" alt="" />
      <p class="mt-5">
        購買履歴に沿った、アフターフォロー、<br />新商品や関連商品おすすめ
      </p>
    </div>
    <div class="border-l-2 text-lg text-center mb-5 border-r-2">
      <img class="px-34" src="src/assets/img/value-1.6.svg" alt="" />
      <p class="mt-5">お得なセールを開催中！</p>
      <p class="invisible">Dong chu an</p>
    </div>
  </div>
</div>
