<div class="overflow-x-hidden pb-48">
  <div class="relative py-36 bg-[#FABE00] w-3/5 pl-[6%] 2xl:pl-[14%]">
    <div class="flex items-center">
      <p class="text-3xl">ギガリピの<br />バリュー</p>
      <p class="text-[9rem] text-white">2</p>
      <p class="text-5xl">分析</p>
    </div>
    <div class="flex gap-15 max-w-200 flex-wrap">
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          01
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          全体ダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          全体の売上や客単価を。全体の売上や客単価を。全体の売上や客単価を。
        </p>
      </div>
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          02
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          新規登録ダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          新規会員がしめる売上比率や顧客属性、商品分類の傾向がわかります。
        </p>
      </div>
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          03
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          リピートダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          リピーターがしめる売上比率やリピート間隔、リピート回数毎の細かな顧客像がわかります。
        </p>
      </div>
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          04
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          クーポンダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          誰にどんなどのようなクーポンでアプローチすればよいかが分かります。
        </p>
      </div>
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          05
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          通知ダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          誰にどんなどのようにプロモーションをどのようなタイミングで送付すればよいかが分かります。
        </p>
      </div>
      <div class="item lg:max-w-65 2xl:max-w-82">
        <p
          class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center mb-2"
        >
          06
        </p>
        <p class="text-2xl font-bold tracking-widest mb-3">
          顧客属性ダッシュボード
        </p>
        <p class="text-base tracking-wide leading-7">
          性別、年代、地域、購買傾向、来店頻度などによるクロス集計ができます。
        </p>
      </div>
    </div>
    <img
      class="img-value-2 absolute bottom-30 left-[98%] xl:left-[99%] 2xl:left-[95%] scroll-smooth"
      src="src/assets/img/value-2.png"
      alt=""
    />
  </div>
</div>
