/* =============== Fonts ============== */

@font-face {
  font-family: "NotoSansJP";
  src: url(../assets/fonts/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(../assets/fonts/Outfit-VariableFont_wght.ttf);
}

/* ============== Header ================ */

#header ul li {
  font-size: 15px;
}

/* =============== Hero ================ */

.circle-text {
  display: flex;
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  align-items: center;
  justify-content: center;
  word-spacing: 3.75px;
}

.logo-icon {
  margin-top: 5.5rem;
}

.slide-text {
  display: inline-block;
  padding-left: 100%;
  animation: text-scroll 8s linear infinite;
}

.text-feature {
  top: 52rem;
  left: calc(35% - 12.5rem);
}

@keyframes text-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ================ Benefit ================= */

.slide-benefit {
  height: 545px;
  width: 295px;
  border: 3px solid #000;
  border-radius: 10px;
}

.slide-benefit .slide-item {
  display: none;
  text-align: center;
}

.slide-benefit .slide-item.active {
  display: block;
}

.slide-desc {
  display: none;
  width: 220px;
  padding: 10px 36px;
  color: #fff;
  font-size: 20px;
  background-color: #000;
}

.slide-desc::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border: 12px solid;
  border-color: black transparent transparent transparent;
}

.slide-desc.active {
  display: block;
}
